body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}




h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


a {
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {

  /* width: 1158px; */
  width: 320px;
  /* padding: 0 15px 0 15px; */
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*header*/
.header {

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;

}



.header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0 24px;
}

.header-link-logo {
  color: #2e2f42;
}


.header-list {
  font-family: "Roboto", sans-serif;
  display: none;
  /* display: flex; */
  gap: 40px;

}

.header-list-item {}

.header-list-item-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0 24px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.header-list-item-link:hover {
  color: #404bbf;

}

.header-list-item-link:focus {
  color: #404bbf;
}

.studio-wrap::after {
  position: absolute;
  content: '';
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
}

.studio-wrap:active::after {
  background-color: #404bbf;
}

.header-list-item-span:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  /* display: flex; */
  display: none;
  align-items: center;
  margin-left: 332px;
}


.header-address-list {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 40px;
}

.header-address-list-item {}

.header-address-list-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-address-list-item-link:hover {
  color: #404bbf;
}

.header-address-list-item-link:focus {
  color: #404bbf;
}

.mob-open-btn {
  display: block;
  border: none;
  margin-left: auto;
}

.icon-mob-open-btn {
  fill: #2f2f37;
}



.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  padding: 24px 24px 40px 16px;
  top: 0;
}

.mob-close-btn {
  display: block;
  margin-left: auto;
  border-radius: 100%;
  border: 1px solid #e7e9fc;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.icon-mob-close-btn {
  fill: #2e2f42;
}

.mob-list {
  margin-bottom: 50px;
}

.mob-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-list-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}



.studio-wrap {}

.mob-list-item-span {}

.mob-address-list {
  margin-bottom: 48px;
}

.mob-address-list-item {}

.mob-address-list-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 24px;
}

.mob-media-list {
  display: flex;
  gap: 40px;
}

.mob-media-item {
  width: 40px;
  height: 40px;
}

.mob-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
}

.mob-media-icon {
  fill: #f4f4fd;
}



/*section-one*/
.section-one {
  font-family: "Roboto", sans-serif;
  background: #2e2f42;
  box-sizing: border-box;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two-mob-2x.jpg);
  }
}

.section-one-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  display: block;
  margin: 0 auto 72px;
}

.section-one-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}


/* .section-one-button:hover {
  background-color: #404bbf;


}

.section-one-button:focus {
  background-color: #404bbf
} */

/*section-two*/
.section-two {
  font-family: "Roboto", sans-serif;
}




.section-two-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;

}

.section-two-list-item {
  width: 100%;
}

.contact-icon {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}


/* .section-two-contact-icon {
  fill: #4d5ae5;
  fill: #2e2f42;
} */

.section-two-list-title {
  /* font-weight: 500; */
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 36px;
  /* line-height: 1.2; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-two-list-text {
  /* font-weight: 400; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}




/*section-three*/
.section-three {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;

}

.section-three-list {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  justify-content: center;
  padding: 0 12px 0 12px;
}

.section-three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-three-list-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
}

.section-three-list-img {
  display: block;
  max-width: 100%;
}

.info {
  padding: 32px 16px;
}

.section-three-list-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.section-three-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;

}

.section-three-media {}

/* ___________________________________media______________________________ */
.media {}


.media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.media-item {
  width: 40px;
  height: 40px;
}

.media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

.media-icon {
  fill: #f4f4fd;
}

/* _________________________________________________________ */





/*section-four*/
.section-four {
  font-family: "Roboto", sans-serif;


}

.section-four-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 48px;
  column-gap: 24px; */
  gap: 48px;
  justify-content: center;
}

.section-four-list-item {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-four-list-img {
  width: 100%;
  height: 280px;
}

.section-four-list-item:hover .overlay {
  transform: translateY(0);
}

.section-four-overlay {
  position: relative;
  overflow: hidden;
}


.overlay {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


.section-four-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}

.section-four-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/*footer*/
.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 72px;
}

.footer-info {
  /* margin-right: 120px; */
  width: 288px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 86px 0 86px;
}

.footer-link-logo {
  color: #f4f4fd;
}



.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}


.footer-media-info {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;

}

.footer-media-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;

}

.footer-media-list {
  display: flex;
  gap: 16px;
}

.footer-media-item {
  width: 40px;
  height: 40px;
}

.footer-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
}

.footer-media-icon {
  fill: #f4f4fd;
}

/* __________________________ */
.footer-search {
  /* width: 100%; */
}

.footer-search-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  padding: 0 106px 0 106px;
}

.footer-field {}

.footer-field-search {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-field-labal {}

.footer-search-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.3;
}

.footer-search-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  padding: 8px 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-btn-search:hover,
.footer-btn-search:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/* _________________________ */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  padding: 72px 16px 27px 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #2e2f42;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404BBF;
  fill: #fff;
  border: none;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 256px;
}

.modal-form {}

.modal-field {
  margin-bottom: 8px;
}

.modal-lebel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;

}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 36px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
}

.input-wrap {
  border: 1px solid #4d5ae5;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
  fill: #4d5ae5;
}

/*_______COMMENT_______*/

.modal-field-text {
  margin-bottom: 16px;
}

.modal-text {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover,
.modal-text:focus {
  border: 1px solid #4d5ae5;
}

.modal-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* __________CHECK__________ */
.modal-field-check {
  margin-bottom: 24px;

}

.check-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: relative;

}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-text span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.modal-check:checked+.check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* ___________MODAL-BTN_________ */
.modal-btn {
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}


/* =================@MEDIA============= */

@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }

  .section-one {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two-tab.jpg);
  }

  @media screen and (min-resolution:192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two-tab-2x.jpg);
    }
  }

  .section-one-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 32px;
  }

  .section-two-list {
    gap: 72px 24px;
  }

  .section-two-list-item {
    width: calc((100% - 24px) / 2);
  }

  .section-two-list-title {
    font-size: 36px;
    line-height: 1.11;
  }

  .section-three-list {
    gap: 64px 24px;
    padding: 0 92px 0 92px;
  }

  .section-three-list-item {
    width: calc((100% - 24px) / 2);
  }

  .section-four-list {
    gap: 72px 24px;
  }

  .section-four-list-item {
    width: calc((100% - 24px) / 2);
  }

  .section-four-list-img {
    height: 300px;
  }

  .footer {}

  .wrap {
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-info {
    min-width: 264px;
  }

  .footer-link {
    padding: 0;
  }

  .footer-media-info {
    padding: 0;
    text-align: start;
  }

  .footer-search {}

  .footer-search-text {
    padding: 0;
  }

  .footer-field-search {
    gap: 24px;
    justify-content: flex-start;
  }

  .footer-search-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-title {
    max-width: 360px;
  }

  .modal-input {
    padding-left: 34px;
  }

  .modal-text {
    width: 360px;
    opacity: 0.5;
  }
}


@media screen and (min-width:1158px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* =====================ONE================= */

  .section-one {
    max-width: 1440px;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two.jpg);
  }

  @media screen and (min-resolution:192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/b-g-s-two-2x.jpg);
    }
  }

  .section-one-title {
    margin: 0 auto 48px;
  }

  .section-one-button {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-one-button:hover {
    background-color: #404bbf;


  }

  .section-one-button:focus {
    background-color: #404bbf
  }

  /* =====================TWO================= */

  .section-two-list {
    gap: 24px;
  }

  .section-two-list-item {
    width: calc((100% - 3 * 24px)/ 4);
  }

  .contact-icon {
    display: flex;
  }

  .section-two-contact-icon {
    fill: #4d5ae5;
    fill: #2e2f42;
  }

  .section-two-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-two-list-text {
    font-weight: 400;
  }

  /* =====================THREE================= */

  .section-three-list {
    gap: 24px;
    padding: 0;
  }

  .section-three-list-item {
    width: calc((100% - 72px) / 4);
  }

  /* =====================FOUR================= */

  .section-four-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .section-four-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .overlay {
    display: block;
  }

  /* =====================FOOTER================= */

  .footer {
    padding: 100px 0;

  }

  .wrap {
    flex-wrap: nowrap;
    padding: 0 16px 0 16px;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-link {
    padding: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-media-info {
    margin-right: 80px;
    padding: 0;
  }

  .footer-search-text {
    padding: 0;
  }

  .footer-field-search {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .footer-search-input {
    width: 264px;
    opacity: 1;
  }

  .footer-search-input::placeholder {
    opacity: 1;
  }


  /* ===============IS-OPEN============= */
  .modal-input {
    padding-left: 38px;
  }

  .modal-text {
    opacity: 1;
  }

}